.login-container {
    box-sizing: border-box;
    text-align: center;
  }
  
  
  .local-btn {
    background-color: #9816f3;
    color: #fff;
    border-radius: 25px;
    padding: 10px 30px;
    cursor: pointer;
  }
  
  
  .login-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    height: 500px;
    width: 900px;
    padding: 50px;
  } 
  
  
  
  .input-field {
    margin-top: 1px;
  }
  
  .btn1 {
    margin-top: 50px;
  }
  
  
  h6 {
    margin-bottom: 50px;
    margin-top: 30px;
  }
  
  .logo {
    width: 50%;
    height: 50%;
  }